@model List<Project>

@{
    ViewData["Title"] = "Project Page";
}

@await Html.PartialAsync("_HeaderTitle", new HeaderTitle { Title = "Proyectos", Subtitle = "Listado de proyectos" })


<div class="my-2 flex justify-end">
    <a asp-action="Create" class="rounded-md bg-blue-700 px-10 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-800">
        Crear
    </a>
</div>

<table class="min-w-full">

    <thead class="border-b border-gray-100 bg-gray-200">
        <tr>
            <th scope="col"
            class="px-6 py-4 text-left text-sm font-medium text-gray-900">
                Id
            </th>
            <th scope="col"
            class="px-6 py-4 text-left text-sm font-medium text-gray-900">
                Nombre
            </th>


            <th scope="col"
                class="px-6 py-4 text-left text-sm font-medium text-gray-900">
                Fecha de creacion
            </th>

            <th scope="col"
            class="px-6 py-4 text-left text-sm font-medium text-gray-900">
                Descripcion
            </th>

            <th scope="col"
            class="px-6 py-4 text-left text-sm font-medium text-gray-900">
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var project in Model)
        {
            <tr class="border-b border-gray-100 bg-white transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 text-sm font-medium whitespace-nowrap text-gray-900">
                    @project.Id
                </td>

                <td class="px-6 py-4 text-sm whitespace-nowrap text-gray-900">
                    @project.Name
                </td>

                <td class="px-6 py-4 text-sm whitespace-nowrap text-gray-900">
                    @project.CreationDate.ToString("yyyy-MM-ddTHH:mm")
                </td>



                <td class="max-w-xs overflow-hidden px-6 py-4 text-sm text-ellipsis whitespace-nowrap text-gray-900">

                    @if (project.Description is null)
                    {
                        <text>Sin descripcion</text>
                    }
                    else
                    {
                        <text>@project.Description</text>
                    }
                    
                </td>

                <td class="flex items-center gap-2 px-6 py-4">
                    <a asp-action="Edit" asp-route-id="@project.Id" class="font-medium text-blue-600 hover:underline dark:text-blue-500">
                        Edit
                    </a>

                    <a asp-action="Show" asp-route-id="@project.Id" class="font-medium text-green-600 hover:underline">
                        Items
                    </a>

                    <form asp-controller="Project" asp-action="Delete" method="post" asp-route-id="@project.Id">

                        <button type="submit" class="font-medium text-red-600 hover:underline dark:text-red-500">
                            Remove
                        </button>
                    </form>

                    

                </td>

            </tr>
        }


    </tbody>
</table>
